<template>
  <div class="about">
    <h1 style="margin-right: 10px;">Would be interested to check out my</h1>
    <h1><a href="https://art.yutingli.com/">illustration portfolio?</a></h1>
  </div>
</template>

<style>
@media (min-width: 1024px) {
  .about {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 3rem
  }
}
</style>
