<template>
  <div>
    <div class="chart-view">
      <h1>Chart Demo</h1>
      <div class="heading-row-item" style="flex-grow: 0.2">
        <div
          class="heading-row"
          style="margin-left: 5px; box-sizing: border-box"
        >
          <p class="des">Click on 'Start Drawing' to select brush and draw on chart.</p>
          <div class="brush-switch" @click="enableDraw = !enableDraw">
            {{ enableDraw ? "Close Drawing" : "Start Drawing" }}
          </div>
          <div v-if="enableDraw" class="brush">
            <!-- brushes -->
            <div v-for="item in actionList" :key="item.type">
              <button
                class="brush-btn"
                @click="switchBrush(item.type)"
                :disabled="item.type == brushType || !enableDraw"
              >
                {{ item.text }}
              </button>
            </div>
            <button @click="clearBrush">clear</button>
          </div>
        </div>
      </div>
    </div>
    <!-- chart -->
    <div
      style="width: 100%; height: 666px; margin-top: 10px; z-index: 3"
      ref="chart"
      id="chart"
    ></div>
  </div>
</template>

<script>
import * as echarts from "echarts/core";

echarts.use([
  ToolboxComponent,
  TooltipComponent,
  GridComponent,
  VisualMapComponent,
  LegendComponent,
  BrushComponent,
  CustomChart,
  DataZoomComponent,
  CandlestickChart,
  ScatterChart,
  LineChart,
  BarChart,
  GraphicComponent,
  CanvasRenderer,
]);
import {
  ToolboxComponent,
  TooltipComponent,
  GridComponent,
  VisualMapComponent,
  LegendComponent,
  BrushComponent,
  DataZoomComponent,
  GraphicComponent,
} from "echarts/components";
import {
  CandlestickChart,
  ScatterChart,
  LineChart,
  BarChart,
  CustomChart,
} from "echarts/charts";
import { CanvasRenderer } from "echarts/renderers";

export default {
  data() {
    return {
      myChart: {},
      enableDraw: false,
      zr: {},
      group: {},
      currentId: null,
      brushType: "",
      brushWidth: 5,
      brushColor: "#666666",
      actionList: [
        { text: "Line", type: "line" },
        { text: "Rectangle", type: "rect" },
      ],
      //using mock data from echart.js doc
      option: {
        color: ["#80FFA5", "#00DDFF", "#37A2FF", "#FF0087", "#FFBF00"],
        tooltip: {
          trigger: "axis",
          axisPointer: {
            type: "cross",
            label: {
              backgroundColor: "#6a7985",
            },
          },
        },
        legend: {
          data: ["Mon", "Tue", "Wed", "Thu", "Fri"],
        },
        toolbox: {
          feature: {
            saveAsImage: {},
          },
        },
        grid: {
          left: "3%",
          right: "4%",
          bottom: "3%",
          containLabel: true,
        },
        xAxis: [
          {
            type: "category",
            boundaryGap: false,
            data: ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"],
          },
        ],
        yAxis: [
          {
            type: "value",
          },
        ],
        series: [
          {
            name: "Line 1",
            type: "line",
            stack: "Total",
            smooth: true,
            lineStyle: {
              width: 0,
            },
            showSymbol: false,
            areaStyle: {
              opacity: 0.8,
              color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                {
                  offset: 0,
                  color: "rgb(128, 255, 165)",
                },
                {
                  offset: 1,
                  color: "rgb(1, 191, 236)",
                },
              ]),
            },
            emphasis: {
              focus: "series",
            },
            data: [140, 232, 101, 264, 90, 340, 250],
          },
          {
            name: "Line 2",
            type: "line",
            stack: "Total",
            smooth: true,
            lineStyle: {
              width: 0,
            },
            showSymbol: false,
            areaStyle: {
              opacity: 0.8,
              color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                {
                  offset: 0,
                  color: "rgb(0, 221, 255)",
                },
                {
                  offset: 1,
                  color: "rgb(77, 119, 255)",
                },
              ]),
            },
            emphasis: {
              focus: "series",
            },
            data: [120, 282, 111, 234, 220, 340, 310],
          },
          {
            name: "Line 3",
            type: "line",
            stack: "Total",
            smooth: true,
            lineStyle: {
              width: 0,
            },
            showSymbol: false,
            areaStyle: {
              opacity: 0.8,
              color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                {
                  offset: 0,
                  color: "rgb(55, 162, 255)",
                },
                {
                  offset: 1,
                  color: "rgb(116, 21, 219)",
                },
              ]),
            },
            emphasis: {
              focus: "series",
            },
            data: [320, 132, 201, 334, 190, 130, 220],
          },
          {
            name: "Line 4",
            type: "line",
            stack: "Total",
            smooth: true,
            lineStyle: {
              width: 0,
            },
            showSymbol: false,
            areaStyle: {
              opacity: 0.8,
              color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                {
                  offset: 0,
                  color: "rgb(255, 0, 135)",
                },
                {
                  offset: 1,
                  color: "rgb(135, 0, 157)",
                },
              ]),
            },
            emphasis: {
              focus: "series",
            },
            data: [220, 402, 231, 134, 190, 230, 120],
          },
          {
            name: "Line 5",
            type: "line",
            stack: "Total",
            smooth: true,
            lineStyle: {
              width: 0,
            },
            showSymbol: false,
            label: {
              show: true,
              position: "top",
            },
            areaStyle: {
              opacity: 0.8,
              color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                {
                  offset: 0,
                  color: "rgb(255, 191, 0)",
                },
                {
                  offset: 1,
                  color: "rgb(224, 62, 76)",
                },
              ]),
            },
            emphasis: {
              focus: "series",
            },
            data: [220, 302, 181, 234, 210, 290, 150],
          },
        ],
      },
    };
  },
  mounted() {
    //监听窗口变化
    window.onresize = () => {
      this.myChart.resize();
    };

    //初始化echarts
    this.myChart = echarts.init(this.$refs.chart);
    this.renderChart();
  },
  watch: {
    enableDraw(newVal) {
      if (newVal == false) {
        this.zr.off("mousedown");
        this.zr.off("mouseup");
        this.zr.off("mousemove");
        this.switchBrush(this.brushType);
      } else {
        this.draw();
      }
    },
  },
  methods: {
    renderChart() {
      if (this.group.children) {
        this.clearBrush();
      }
      this.myChart.clear();
      this.option && this.myChart.setOption(this.option, true);
      this.initBrush();
    },
    //initiate z render
    initBrush() {
      this.zr = this.myChart.getZr();
      this.group = new echarts.graphic.Group();
      this.zr.add(this.group);
      this.zr.dom.getElementsByTagName("canvas")[0].style.zIndex = 4;
      this.draw();
    },
    switchBrush(type) {
      if (type === this.brushType) {
        this.brushType = "";
      } else {
        this.brushType = type;
      }
    },
    //drawing event
    draw() {
      let vm = this;
      let drawing;
      let dragging;
      let endPoint;
      vm.zr.on("mousedown", (e) => {
        drawing = true;
        vm.startPoint = [e.offsetX, e.offsetY]; //starting point
      });
      vm.zr.on("mousemove", (e) => {
        if (!drawing || dragging) {
          return false;
        }

        endPoint = [e.offsetX, e.offsetY];
        let obj = null;
        vm.group.eachChild((el) => {
          if (el.id === vm.currentId) {
            vm.group.remove(el);
          }
        });

        if (vm.brushType === "line") {
          obj = vm.drawLine(vm.startPoint, endPoint);
        } else if (vm.brushType === "rect") {
          obj = vm.drawRect(vm.startPoint, endPoint);
        }

        this.group.add(obj);
      });

      //3, drawing finished
      vm.zr.on("mouseup", function (e) {
        drawing = false;
        vm.currentId = null;
      });
    },

    clearBrush() {
      this.group.removeAll();
      this.zr.refreshImmediately();
    },

    //draw lines
    drawLine(start, end) {
    //set starting point
      let x1y1 = this.myChart.convertFromPixel("grid", start);
      let x2y2 = this.myChart.convertFromPixel("grid", end);
      let line = new echarts.graphic.Line({
        shape: {
      //position of the lines
          x1: start[0],
          y1: start[1],
          x2: end[0],
          y2: end[1],
        },
        z: 999,
        style: {
          lineWidth: this.brushWidth,
          stroke: this.brushColor,
        },
      });
      this.currentId = line.id;
      return line;
    },

    //draw rectangle
    drawRect(start, end) {
      let x1y1 = this.myChart.convertFromPixel("grid", start);
      let x2y2 = this.myChart.convertFromPixel("grid", end);
      //create a new rect graphic from echart library
      let rect = new echarts.graphic.Rect({
        shape: {
          x: start[0],
          y: start[1],
          width: end[0] - start[0],
          height: end[1] - start[1],
        },
        z: 999,
        style: {
          lineWidth: this.brushWidth,
          stroke: this.brushColor,
          fill: "transparent",
        },
      });
      this.currentId = rect.id;
      return rect;
    },
  },
};
</script>

<style>
.chart-view {
  padding: 10px 30px;
}
.des {
  color: #666666;
  font-size: 14px;
}
.brush-switch {
  width: 150px;
  text-align: center;
  border: 1px solid #f6d5f7;
  border-radius: 10px;
  padding: 5px;
  background: #fbe9d7;
  color: #666666;
  font-weight: bold;
  margin: 10px 0;
  cursor: pointer;
}
.brush {
  display: flex;
  flex-direction: row;
}
.brush-btn {
  border: 1px solid lightgray;
  padding: 5px 10px;
  margin-right: 10px;
}
</style>
