@import './base.css';

#app {
  font-weight: normal;
}

a,
.color {
  text-decoration: none;
  color: #666666;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
